.lineup {
  padding: 60px;
  background: #f5f5f7;
}

.lineup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  margin-left: 100px;
}

.lineup-header h2 {
  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  max-width: 600px;
}

.product-view {
  display: flex;
  margin-top: 20px;
  margin-left: 120px;
}
