.header-text {
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.header-color {
  background-image: url("./header.png");
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
}

.header-title {
  margin-left: 200px;
  background-image: linear-gradient(
    to right,
    #337ae5 0,
    #408fe5 14%,
    #d4734a 25%,
    #ea6b2e 100%
  );
  color: transparent;
  background-clip: text;
  display: inline-block;
  font-size: 78px;
  font-weight: bold;
}

.header-notify {
  text-align: right;
  position: absolute;
  right: 100px;
  color: #000;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1428571429;
  margin: 40px 0px 0 0;
  max-width: 350px;
}

.connect {
  color: var(--sk-body-link-color, #06c);
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4285914286;
  padding-top: 16px;
  -webkit-text-size-adjust: none;
  font-size: 12px;
  text-decoration: none;
}
