.promo-image {
  width: 80%;
  margin-left: 150px;
  height: 700px;
}

.promo-header {
  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  margin-left: 150px;
  margin-bottom: 50px;
}

.promo-section {
  position: relative;
}

.text-section {
  position: absolute;
  left: 200px;
  top: 100px;
}

.promo-text {
  font-size: 1.25rem;
  color: #515154;
  line-height: 1.6;
  margin-bottom: 32px;
}

.promo-button {
  width: fit-content;
  padding: 14px 28px;
  border-radius: 999px;
  background: #000;
  color: #fff;
  font-size: 0.95rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.promo-button:hover {
  opacity: 0.85;
}
