body {
  background-color: rgb(245, 247, 248);
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  background-color: rgb(245, 247, 248);
  color: #000;
  max-height: 80px;
  padding-left: 250px;
  padding-right: 250px;
}

.navbar a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  color: black;
  text-decoration: none;
}

.subnav .subnavbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  line-height: 1;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(245, 247, 248);
  width: 100%;
  margin: 0 !important;
  height: 400px;
  z-index: 15;
}

.subnav:hover .subnav-content {
  display: block;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}

.sub-navigation-link {
  margin: 50px;
}

.sub-navigation-link p {
  margin: 10px;
}

.navigation-section-one {
  margin: 10px;
  font-size: 24px;
  line-height: 1.1666666667;
  font-weight: 600;
  letter-spacing: 0.009em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.navigation-section-two {
  margin: 10px;
  font-size: 16px;
  line-height: 1.1666666667;
  letter-spacing: 0.009em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.apple-logo {
  width: 30px;
  height: 30px;
}

.carousel-container {
  position: relative;
  overflow-x: auto; /* Enables horizontal scrolling */
  scroll-snap-type: x mandatory; /* Snaps to items when scrolling */
  -webkit-overflow-scrolling: touch; /* Adds momentum scrolling for iOS */
  /* Hide scrollbar if desired: */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
